@page	"/Asdrubal/Formulario"
@using System.Net.Http
@inject HttpClient Http;

<h3>Formulario</h3>

<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in FormList)
            {
                <tr>
                    <td>@item.Titulo</td>
                    <td>@item.Nome</td>
                    <td>@item.Sobrenome</td>
                </tr>
            }
        </tbody>
    </table>
</div>



<div class="card m-3">
    <h4 class="card-header">Desafio Asdrubal</h4>
    <div class="card-body">
        <EditForm Model="@form" OnValidSubmit="HandleValidSubmit" @onreset="Reset">
            <DataAnnotationsValidator />
            <div class="form-group">
                <p>
                    <div class="form-row">
                        <div class="form-group col-2">
                            <table>Titulo</table>
                            <InputSelect @bind-Value="@form.Titulo" class="form-control">
                                <option> </option>
                                <option> Sr </option>
                                <option> Sra </option>
                            </InputSelect>
                            <ValidationMessage For="@(() => form.Titulo)" />
                        </div>
                        <div class="form-group col-5">
                            <table>Nome</table>
                            <InputText class="form-control" @bind-Value="@form.Nome" />
                            <ValidationMessage For="@(() => form.Nome)" />
                        </div>
                        <div class="form-group col-5">
                            <table>Sobrenome</table>
                            <InputText class="form-control" @bind-Value="@form.Sobrenome" />
                            <ValidationMessage For="@(() => form.Sobrenome)" />
                        </div>
                    </div>

                    @*-------------------------------------SECOND ROW----------------------------------------------*@


                    <div class="form-row">

                        <div class="form-group col-5">
                            <table>Data de Nascimento</table>
                            <InputDate class="form-control" @bind-Value="@form.DatadeNascimento" />
                            <ValidationMessage For="@(() => form.DatadeNascimento)" />
                        </div>

                        <div class="form-group col-7">
                            <table>Email</table>
                            <InputText class="form-control" @bind-Value="@form.Email" />
                            <ValidationMessage For="@(() => form.Email)" />
                        </div>

                    </div>

                    @*--------------------------------------THIRD ROW----------------------------------------------*@

                    <div class="form-row">
                        <div class="form-group col-6">
                            <table> Senha </table>
                            <InputText class="form-control" type="password" id="password" @bind-Value="@form.Senha" />
                            <ValidationMessage For="@(() => form.Senha)" />
                        </div>

                        <div class="form-group col-6">
                            <table> Confirmar senha </table>
                            <InputText class="form-control" type="password" id="password" @bind-Value="@form.ConfirmarSenha" />
                            <ValidationMessage For="@(() => form.ConfirmarSenha)" />
                        </div>
                    </div>
                    @*--------------------------------------FOURTH ROW----------------------------------------------*@
                    <div class="form-row">
                        <div class="form-check">
                            <InputCheckbox @bind-Value="@form.Termos" />
                            <ValidationMessage For="@(() => form.Termos)" />
                            <label class="form-check-label" for="defaultCheck1">
                                Termos de Uso
                            </label>
                        </div>
                    </div>
                </p>
            </div>
            <button class="btn btn-outline-primary" type="submit">Salvar</button>
            <button class="btn btn-outline-secondary" type="reset">Cancel</button>
        </EditForm>
        @*----------------------------------TABELA DE USUARIOS--------------------------------------*@
        




    </div>
</div>


@code {

    //Genero gen = new Genero();
    private List<Formulario1> FormList = new List<Formulario1>();
    Formulario1 form = new Formulario1();
    private EditContext editContext { get; set; }



    protected override async Task OnInitializedAsync()
    {

        var forms = await Http.GetFromJsonAsync<List<Formulario1>>("/FormController/List");
        foreach (var item in forms)
        {
            FormList.Add(item);
        }
    }


    private async Task HandleValidSubmit()
    {
        //enviar dados para o controller no backend
        var teste = await Http.PostAsJsonAsync("/Form/Create", form);

    }




    private void Reset()
    {
        form = new Formulario1();
        editContext = new EditContext(form);

    }

}
